* {
 padding: 0;
 
  text-decoration: none;
}
body {
  background-color: #fafafa52;
  padding-left: 44px;
  font-family: proportional sans-serif typeface;
}
.nav_bar {

  display: inline-flex;
  border: px solid rgba(250, 231, 231, 0.979);
  padding-bottom: 3px;
  border-bottom: solid 8px rgba(238, 235, 235, 0.651);
  width: 100%;
}


.getstarted{
  padding: 10px;
  background-color: #274fdd;
  border-radius: 22px;
  color: #FAFAFA;

 
}

.vallie {
  padding-right: 300px;
  font-family: fantasy;
}
.b {
  padding-right: 50px;
  color: #274fdd;
  font-size: large;
  position: relative;
  right: 60px;
}
p:hover{
text-decoration: underline 2px #0f2786;
}
.learn {
  color: aliceblue;
  border: none;

  color: #FAFAFA;
  text-align: center;
  text-decoration: none;
  
  font-size: 16px;
  border-radius: 20%;
}

.help {
  color: #0f298b;
  font-size: 40px;
}
#learn{
  background-color: #274fdd;
  padding: 20px;
  border-radius: 20px;
  border-collapse: collapse;
  color: #FAFAFA;
}
.displayhome {
 display: inline-flex;
}
#dh{
margin-left: 150px;
margin-top: -300px;
position: relative;
left: 500px;
}
.part2{
  
  margin-left: 20%;
}
.accessbar {
  display: inline-flex;
 
  margin-left: 170px;
  padding-top: 100px;
  background-color: rgba(250, 235, 215, 0.089);
  box-shadow: 1px 0px 1px;
  border-radius: 13px;
  width: 70%;
  justify-content: center;
  height: 100px;
  align-content: center;
  margin-top: 40px;
}
.accessbar > p{
  color: #274fdd;
  font-size: xx-large;
}
accessbar > p >.search{
  background-color: #274fdd;
}
.products {
  font-size: 40px;
  color: #0f298b;
  font-style: oblique;
}
.quiz {
  text-align: center;
}
.how {
  font-size: 40px;
  color: #0f298b;
}

.tiles {
  display:inline-flex;
  flex-direction: row;
  box-shadow: 2px 0px 1px;
  
  justify-content: space-around;

}
.find, .pay, .official{
  background-color: rgba(240, 248, 255, 0.329);
  padding: 70px;
  box-shadow: 1px 0 1px grey;


}
.why{
  display: inline-block;
  padding-bottom: 150px;
}
#why{
  margin-left: 700px ;
  margin-top: -300px;
}

.checkboxes {
  display: grid;
  grid-template: 100fr 100px 100px;
}
.featured {
  text-align: center;
}
.properties {
  display: inline-flex;
  box-shadow: 2px 0px 1px grey;
}

.properties > .img1:hover{
  box-shadow: 2px 1px 0px 3px grey;
}
.price {
  display: inline-flex;
}
#view{
  color: white;
  background-color: #274fdd;
  text-align: center;
  border-radius: 250px;
  padding: 9px;
  float: right;
}
.customers {
  text-align: center;
  padding-top: 120px;
}
.review {
  display: inline-flex;
  box-shadow: 2px 1px 1px 2px grey;
}
.review > .alex  :hover{
  box-shadow: 2px 1px 2px grey;
}
.last {
  padding: 70px;
  display: inline-flex;
  background-color: #0f2786;
  color: aliceblue;
  margin-top: 40px;
  border-radius: 20px;
}
.vallie:hover > h2{  text-decoration: underline 2px white;
}