* {
  text-decoration: none;
}
body {
  background-color: #fafafa52;
  padding-left: 44px;
  font-family: proportional sans-serif typeface;
}
.nav_bar {
  display: inline-flex;
  border: px solid red;
  padding-bottom: 30px;
  border-bottom: solid 1px red;
}

.vallie {
  padding-right: 300px;
  font-family: fantasy;
}
p {
  padding-right: 50px;
}
.learn {
  color: aliceblue;
  border: none;

  
  text-align: center;
  text-decoration: none;
  
  font-size: 16px;
  border-radius: 20%;
}

.help {
  color: #0f298b;
  font-size: 40px;
}
.displayhome {
 display: inline-flex;
}
#dh{
  float: right;
}
.accessbar {
  display: inline-flex;
  text-align: center;
  margin-left: 170px;
  padding-top: 50px;
}
.products {
  font-size: 40px;
  color: #0f298b;
  font-style: oblique;
}
.quiz {
  text-align: center;
}
.how {
  font-size: 40px;
  color: #0f298b;
}

.tiles {
  display: inline-flex;
  width: min-content;
  justify-content: center;

}
.find, .pay, .official{
  background-color: rgba(240, 248, 255, 0.329);
  padding: 100px;

}
.why{
  display: inline-block;
}


.checkboxes {
  display: grid;
  grid-template: 100fr 100px 100px;
}
.featured {
  text-align: center;
}
.properties {
  display: inline-flex;
}
.price {
  display: inline-flex;
}
#view{
  color: white;
  background-color: #274fdd;
  text-align: center;
  border-radius: 250px;
  padding: 9px;
}
.customers {
  text-align: center;
  padding-top: 120px;
}
.review {
  display: inline-flex;
}
.last {
  padding: 70px;
  display: inline-flex;
  background-color: #0f2786;
  color: aliceblue;
  margin-top: 40px;
  border-radius: 20px;
}
