body {
   background-color: #fafafa52;
  padding-left: 44px;
  font-family: proportional sans-serif typeface;
}
.nav_bar {
  display: inline-flex;
  border: px solid red;
  padding-bottom: 30px;
  border-bottom: solid 1px red;
}
.vallie {
  padding-right: 300px;
  font-family:fantasy ;
}
p {
  padding-right: 50px;
}
.button {
  background-color: #2549d3;
  border: solid red;
  border-radius: 20px;
  text-align: center;
  color: aliceblue;
  box-sizing: calc();
  
}

.help {
  color: #0f298b;
  font-size: 40px;
}
.displayhome {
  margin-left: 40%;
  padding-top: -400px;
  float: inline-end;
}
.accessbar {
  display: inline-flex;
  text-align: center;
  margin-left: 170px;
  
}
.products {
  font-size: 40px;
  color: #0f298b;
  font-style: oblique;
}
.quiz {
  text-align: center;
}
.how {
  font-size: 40px;
  color: #0f298b;
}

.tiles{
  display: inline-flex;
  
}
.find, .pay, .official{
  background-color: white;
  padding-bottom: 180px;
}

.why{
  display: inline flex;
}
.txtright{
  float: inline-end;


}