body {
  position: ;
  background-color: #fafafa;
  padding-left: 44px;
  font-family: proportional sans-serif typeface;
  
}
.nav_bar {
  display: inline-flex;
  border: px solid red;
  padding-bottom: 30px;
  border-bottom: solid 1px red;
}
.vallie {
  padding-right: 300px;
}
p {
  padding-right: 50px;
}
.button {
  background-color: #2549d3;
  border: solid red;
  border-radius: 20px;
  text-align: center;
  color: aliceblue;
  box-sizing: calc();
  font-family: ;
}

.part2 {
  display: flex inline-block;

  font-size: ;
}
.help {
  display: flex;
  color: #2549d3;
  font-size: 40px;
}
